.github/
.vscode/
config/
!config/uwsgi.ini
!config/nginx.conf
coverage/
data/
logs/
scripts/
!scripts/entrypoint.sh
.flaskenv
.dockerignore
.gitignore
.vsls.json
Dockerfile
LICENSE
README.md
sonar-project.properties
